* {
  margin: 0;
  padding: 0;
}

body{
    margin: 0;
    background-color: darkgray;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons{
  display: flex;
  flex-direction: column;
}

button{
  border: none;
  cursor: pointer;
  margin: 2px;
  padding: 3px;
  background-color: grey;
  
}

button:hover{
  background-color: aqua;
}

#carCanvas{
    background-color: lightgray;
}

#networkCanvas{
    background-color: black;
}